html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
}
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  outline: none;
  text-align: center;
  vertical-align: middle;
}

html {height: 101%; }
body {width: 100%; font-family: Arial, Tahoma, Verdana, sans-serif; background: #EFEBE3;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
ol, ul {list-style: none; color: #4D4D4D; font-size: 14px; line-height: 20px;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after, q:before, q:after {content: ''; content: none;}
strong {font-weight: bold;} 
input {outline: none;}
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0; max-width: 100%; }
a {text-decoration: none; color: #4278C6;}
a:hover {text-decoration: underline;}

h1 {font-family: Verdana, Geneva, sans-serif; text-transform: uppercase; font-weight: bold; font-size: 38px; color: #333; padding: 0 5%; margin-top:50px;}
h2 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; line-height: 22px; color: #4D4D4D; font-style:italic; padding: 0px 0 20px 0;}

p {font-size: 14px; color:#4D4D4D; line-height: 20px; padding: 10px 0;}

header {margin: 0 auto; background: #0f0f0f; border-bottom: solid 2px #111; text-align: center; padding: 30px 0;}
header h1 {font-family: Verdana, Geneva, sans-serif; text-transform: uppercase; font-weight: bold; font-size: 38px; color: #f0f0f0; padding: 0 5%; margin-top:50px;}
header h2 {font-family: Georgia, "Times New Roman", Times, serif; font-size: 14px; line-height: 22px; color: #fDfDfD; font-style:italic; padding: 0px 0 20px 0;}

nav {background: #111; border-top: solid 1px #fff; border-bottom: solid 1px #EFEBE3; text-align: center;}
nav ul {width: 250px; height: 40px; margin: 1px auto;}
nav li {display: inline;}
.wiki, .twitter, .facebook {display: block; float: left; text-indent: -9999px; background: url(../images/icons-sprite.png) no-repeat; overflow: hidden; margin: 0px 10px 10px 10px;}
nav li a, nav li a:visited {-webkit-transition: background 300ms;
    -moz-transition: background 300ms;
    -o-transition: background 300ms;
    transition: background 300ms;}
a:link.wiki, a:visited.wiki {width: 70px; height: 40px; background-position: 0px 0px;}
a:hover.wiki, a:active.wiki { width: 70px; background-position: 0px -37px; }
a:link.twitter, a:visited.twitter {width: 100px; height: 40px; background-position: -270px 0px;}
a:hover.twitter, a:active.twitter { width: 100px; background-position: -270px -37px; }
a:link.facebook, a:visited.facebook {width: 100px; height: 40px; background-position: -390px 0px;}
a:hover.facebook, a:active.facebook { width: 100px; background-position: -390px -37px; }

.content {border-top: solid 2px #111; border-bottom: solid 2px #111; text-align: center; padding: 40px 0 50px 0;}
.content h1 {font-size: 28px; padding: 5px 0;}
section {width: 90%; margin: 0 auto; max-width: 600px; overflow: hidden;}
.content section {padding: 20px 0;}
iframe {padding: 0 0 10px 0;}
footer {background: #111; min-height: 40px; border-top: solid 1px #EFEBE3; text-align: center;}
footer p {color: #666; font-size: 12px;}
footer a, footer a:visited {color: #666;}

iframe.osm {border: 1px solid black;}
img.piwik {border:0;}
