<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Tarlab Oulu</title>
    <meta property="og:title" content="Tarlab Oulu" />
    <meta property="og:url" content="http://tarlab.fi" />
    <meta property="og:description" content="Tarlab Oulu on harrastetila jota voi k&auml;ytt&auml;&auml; erilaisten projektien ty&ouml;st&auml;miseen niin yhdess&auml; kuin yksinkin." />
    <meta property="og:image" content="/images/tarlab-oulu_logo.png" />
    <link rel="shortcut icon" href="/images/tarlab-favicon.ico">
    <link rel="icon" href="/images/tarlab-favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
  </head>
  <body>
    <header>
      <img class="branding" src="images/tarlab-oulu_logo.png" alt="Tarlab Oulu"/>
        <h1>Tarlab Oulu</h1>
      </header>
    <nav>
      <ul>
        <li><a class="wiki" href="http://jkry.org/ouluhack">Wiki</a></li>
        <li><a class="twitter" href="http://twitter.com/TarlabOulu">Twitter</a></li>
        <li><a class="facebook" href="http://www.facebook.com/pages/Tarlab/124434060990804">Facebook</a></li>
      </ul>
    </nav>
    <div class="content">
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      <section>
        <p>&copy; Tarlab Oulu ry | Web Design: <a href="http://twitter.com/SiniMaariaNiku">Sini-Maaria Niku</a> | <a href="Rekisteriselosteet.pdf">Rekisteriselosteet</a></p>
      </section>
    </footer>

  </body>
</html>
