<!doctype html>
<html lang="FI-fi">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=5">
  <meta name="HandheldFriendly" content="true">
  <meta name="description" content="Hack after Dark on Oulussa j&auml;rjestett&auml;v&auml; hakkerihenkinen tapahtuma. Tapahtuma on vapaamuotoinen, sis&auml;lt&auml;&auml; puheenvuoroja, verkostoitumista ja yhdess&auml;oloa." />
  <meta name="keywords" content="hackerspace, makerspace, hacklab, makerlab, creative space, tarlab, oulu" />
  <meta name="author" content="Miikka 'otter' Saukko" />
  <meta property="og:title" content="Hack After Dark" /> 
  <meta property="og:description" content="Hack after Dark on Oulussa j&auml;rjestett&auml;v&auml; hakkerihenkinen tapahtuma. Tapahtuma on vapaamuotoinen, sis&auml;lt&auml;&auml; puheenvuoroja, verkostoitumista ja yhdess&auml;oloa." /> 
  <meta property="og:image" content="/images/HackDark.png" />
  <title>Hack After Dark</title>
  <link rel="shortcut icon" href="/images/had-favicon.ico">
  <link rel="icon" href="/images/had-favicon.ico">
  <link rel="stylesheet" type="text/css" href="/stylesheets/hackafterdark.css">
</head>

<body>
        <header>
        <img class="branding" src="/images/HackDark.png" alt="Hack After Dark"/>
        <h1>Hack After Dark</h1>
	<h2>Ookko Nää Hakkeri, Turvaakko Nää Tietua, Pelekääkkö Nää Kyperpolliisia?</h2>
        </header>
    <nav>
        <ul>
            <li><a class="twitter" href="https://twitter.com/TarlabOulu">Twitter</a></li>
            <li><a class="facebook" href="https://www.facebook.com/TarlabOulu/">Facebook</a></li>
        </ul>
    </nav>
    <div class="content">
        <section>
	{{ content }}

       </section>
    </div>
    <footer> 
        <section>
                <p>&copy; Tarlab Oulu ry | Web Design: <a href="http://twitter.com/SiniMaariaNiku">Sini-Maaria Niku</a> | Logo: Veeti Taimisto | <a href="../Rekisteriselosteet.pdf">Rekisteriselosteet</a></p>
        </section>
    </footer>

<!-- Piwik -->
<script type="text/javascript">
  var _paq = _paq || [];
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="//tarlab.fi/stats/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', 1]);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img class="piwik" src="//tarlab.fi/stats/piwik.php?idsite=1" alt="piwik" /></p></noscript>
<!-- End Piwik Code -->



</body>
</html>
